.card {
  border-radius: 8px;
  width: 292px;
  display: flex;
  flex-direction: column;
  background-color: var(--menu-background);
  cursor: url(../../../../public/icons/pointer-cursor.png), pointer;
  align-self: stretch;
  border: solid 1px transparent;
}
 
.card:hover {
  border: solid 1px var(--secondary500);
}

.cardImage {
  border-radius: 8px;
  border-width: 0px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.cardInfos {
  display: flex;
  padding: max(0.5vh, 8px) max(1vw, 15px) max(2vh, 24px) max(1vw, 15px);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cardTitle {
  font-size: 1.8rem;
  font-family: "Sora-Bold";
  line-height: 48px;
  padding: 8px 0;
  
}

.card[aria-disabled="true"] {
  cursor: not-allowed;
}

.card[aria-disabled="true"] .cardImage,
.card[aria-disabled="true"] .cardTitle {
  opacity: 0.4;
}
